style.css


body
{		
 font-family: "Open Sans";
}

#footer {

	color: #aaaaaa ;
	background-color: #2B2D2E ;
	padding-top: 3em;
	padding-top: 3em;
}

#footer a {

	color:#aaaaaa;
	font-size: 24px;
}

#footer a:hover {

	color:#dddddd;
	font-size: 28px;
}

#wrapper {

	background-image: url("../images/boucannn.jpg");
	height: 600px;
	background-size: cover;
	text-align: center;
	padding-top: 150px;
	color: white;
	text-shadow: 2px 2px 5px rgba(0 ,0 ,0 , 0.5);

}

#wrapper H1 {
	font-size: 60px;

}

#wrapper H2 {
	font-size: 18px;
	margin-bottom: 1em;
}

.spacer {

	height: 10em;
}

.feature p {

	font-weight: 300;
	letter-spacing: 1px;
	
}

.feature img {
	margin-bottom: 2em;
}



.Paris {

	Border: 5px;
}

.Paris img {
 margin-bottom: 2em;
 border-radius: 10%;


}

.Paris h2 {

	text-align: left;
	margin-bottom: 1em;

}

.Paris a:hover {

	color:#F26522;
}



.Lyon h2 {

	text-align: left;
	margin-bottom: 1em;

}

.Lyon img {
 margin-bottom: 2em;
 border-radius: 10%;

}

.Lyon a:hover {

	color:#F26522;
}


.Lille img {
 margin-bottom: 2em;
 border-radius: 10%;


}

.Lille h2 {

	text-align: left;
	margin-bottom: 1em;

}

.Lille a:hover {

	color:#F26522;

}


#confiance {
background-image: url("../images/paris.jpg");
	height: 500px;
	background-size: cover;
	text-align: center;
	padding-top: 50px;
	color: white;
	text-shadow: 2px 2px 5px rgba(0 ,0 ,0 , 0.5);


}


.Presse {

	color:#55555;
	font-size: 30px;
	padding-top: 4em;
	padding-bottom: 2em;
}

}
.decription {

	font-size: 5px;
}


.navbar-orange {
	background-color: #F26522;
}

.navbar-orange .navbar-brand,
.navbar-orange .navbar-nav > li > a {
  color: #eeeeee;
  line-height: 20px;
}

.navbar-orange .navbar-nav > li > a:hover,
.navbar-orange .navbar-nav > li > a:active,
.navbar-orange .navbar-nav > li > a:focus,
.navbar-orange .navbar-nav > .open > a,
.navbar-orange .navbar-nav > .open > a:hover,
.navbar-orange .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-orange .navbar-brand:hover,
.navbar-orange .navbar-brand:active,
.navbar-orange .navbar-brand:focus {
  color: white;
}

.concept {
	font-size: 25px;
	background-image: url("../images/maria.jpg");
	height: 600px;
	background-size: cover;
	padding-top: 150px;
	color: white;
	text-shadow: 2px 2px 5px rgba(0 ,0 ,0 , 0.5);

}


